<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to Our Website</title>
	<style>
		div {
			width: 1500px;
			height: 30px;
			margin-bottom: 20px;

		}
		ul {
		
				text-align: right;
			}
		
			li {
				text-align: right;
				display: inline-block;
				list-style: none;
			}
	</style>
</head>

<body>

	<div>
		<ul>
			<li>
				<a href="loginForm">로그인 </a>
				<a href="regForm">회원가입 </a>
			</li>

		</ul>
		<hr>

	</div>
	<h1>Index Page</h1>
	
</body>

</html>