<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
</head>

<body>
	<h1>list Recieve Page</h1>
<table border="1">
	   <thead>
	       <td>번호</td>
	       <td>아이디</td>
	       <td>제목</td>
	       <td>작성자</td>
	       <td>작성대상</td>
	   </thead>
	   
	          <tr th:each="dto, status : ${list}">
				<td> [[${dto.bno}]]</td>
				<td> [[${dto.id}]]</td>
				<td> <a th:href="@{detail(bno=${dto.id})}"> [[${dto.title}]]</a></td>
				<td> [[${dto.writer}]]</td>
				<td> [[${dto.target}]]</td>
			
	          </tr>
	  </table>
	  <a href="writeForm">글작성하기</a><br>

</body>

</html>