<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>regForm Page</h1>
	<hr>

	<form action="regist" method="post">
		<table>
			<tr>
				<th>아이디 :</th>
				<td><input type="text" name="id"></td>
			</tr>
			<tr>
				<th>비밀번호 :</th>
				<td><input type="text" name="pw"></td>
			</tr>
			<tr>
				<th>이름 :</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th colspan="2"><input type="submit" value="등록하기"></th>
				
			</tr>
		</table>
	</form>
</body>
</html>