<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
</head>

<body>
	<h1>writeFromPage</h1>
<h1></h1>
</body>
<form action= "write" method="post">

제목 <input type="text" id ="title" name="title" placeholder="제목을 입력해주세요"><br>
내용 <input type="text" id ="content" name="content"><br>
대상 <input type="text" id ="target" name="target"><br>
<input type="submit" value="글작성">
</form>
</body>

</html>